name: Test / Publish

on:
  pull_request:
  push:
    branches: [test/win]
  workflow_dispatch:
    inputs:
      publish:
        default: false
        description: Publish package
        required: false
        type: boolean

jobs:
  build:
    name: Build native libraries
    strategy:
      matrix:
        include:
          # - library: libsecp256r1.so
          #   source: libcrypto.so
          #   exports: exports.lds
          #   os: ubuntu-22.04-arm
          #   rid: linux-arm64
          # - library: libsecp256r1.so
          #   source: libcrypto.so
          #   exports: exports.lds
          #   os: ubuntu-22.04
          #   rid: linux-x64
          # - library: libsecp256r1.dylib
          #   source: libcrypto.dylib
          #   exports: exports.exp
          #   os: macos-latest
          #   rid: osx-arm64
          # - library: libsecp256r1.dylib
          #   source: libcrypto.dylib
          #   exports: exports.exp
          #   os: macos-15-intel
          #   rid: osx-x64
          - library: secp256r1.dll
            source: crypto.dll
            exports: exports.def
            os: windows-latest
            rid: win-x64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          submodules: true
      - name: Configure build
        shell: bash
        run: |
          mv -f src/CMakeLists.txt src/boringssl/CMakeLists.txt
          mv -f src/${{ matrix.exports }} src/boringssl/${{ matrix.exports }}
      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: Setup NASM
        uses: ilammy/setup-nasm@v1
      - name: Build library
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: src/boringssl
          generator: Ninja
          options: |
            CMAKE_BUILD_TYPE=Release
            BUILD_SHARED_LIBS=1
      - name: Move built binary
        working-directory: src
        shell: bash
        run: mv -f boringssl/build/${{ matrix.source }} Nethermind.Crypto.SecP256r1/runtimes/${{ matrix.rid }}/native/${{ matrix.library }}
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
      - name: Test bindings
        working-directory: src/Nethermind.Crypto.SecP256r1.Tests
        run: dotnet run -c release
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.rid }}
          path: src/Nethermind.Crypto.SecP256r1/runtimes/${{ matrix.rid }}/native/${{ matrix.library }}
          retention-days: 2
          if-no-files-found: error

  publish:
    name: Publish
    runs-on: windows-latest
    needs: [build]
    if: inputs.publish
    env:
      BUILD_CONFIG: release
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: src/Nethermind.Crypto.SecP256r1/runtimes
      - name: Move artifacts
        working-directory: src/Nethermind.Crypto.SecP256r1/runtimes
        run: |

          mv -f win-x64/secp256r1.dll win-x64/native/secp256r1.dll
      - name: Set up .NET
        uses: actions/setup-dotnet@v5
      - name: Install dependencies
        working-directory: src
        run: dotnet restore
      - name: Build
        working-directory: src/Nethermind.Crypto.SecP256r1
        run: dotnet build -c ${{ env.BUILD_CONFIG }} --no-restore
      - name: Test
        working-directory: src/Nethermind.Crypto.SecP256r1.Tests
        run: dotnet test -c ${{ env.BUILD_CONFIG }} --no-restore
