name: Test / Publish

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      publish:
        default: false
        description: Publish package
        required: false
        type: boolean
      benchmark:
        default: false
        description: Run benchmarks
        required: false
        type: boolean

jobs:
  build:
    name: Build native libraries
    strategy:
      matrix:
        include:
          - library: libsecp256r1.so
            source: libcrypto.so
            exports: exports.lds
            os: ubuntu-22.04-arm
            rid: linux-arm64
          - library: libsecp256r1.so
            source: libcrypto.so
            exports: exports.lds
            os: ubuntu-20.04
            rid: linux-x64
          - library: libsecp256r1.dylib
            source: libcrypto.dylib
            exports: exports.exp
            os: macos-latest
            rid: osx-arm64
          - library: libsecp256r1.dylib
            source: libcrypto.dylib
            exports: exports.exp
            os: macos-13
            rid: osx-x64
          - library: secp256r1.dll
            source: crypto.dll
            exports: exports.def
            os: windows-latest
            rid: win-x64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Configure build
        shell: bash
        run: |
          mv -f src/CMakeLists.txt src/boringssl/CMakeLists.txt
          mv -f src/${{ matrix.exports }} src/boringssl/${{ matrix.exports }}
      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: Setup NASM
        uses: ilammy/setup-nasm@v1
      - name: Build library
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: src/boringssl
          generator: Ninja
          options: |
            CMAKE_BUILD_TYPE=Release
            BUILD_SHARED_LIBS=1
      - name: Move built binary
        working-directory: src
        shell: bash
        run: mv -f boringssl/build/${{ matrix.source }} Nethermind.Crypto.SecP256r1/runtimes/${{ matrix.rid }}/native/${{ matrix.library }}
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
      - name: Test bindings
        working-directory: src/Nethermind.Crypto.SecP256r1.Tests
        run: dotnet run -c release
      - name: Benchmark bindings
        if: inputs.benchmark
        working-directory: src/Nethermind.Crypto.SecP256r1.Benchmarks
        run: dotnet run -c release
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.rid }}
          path: src/Nethermind.Crypto.SecP256r1/runtimes/${{ matrix.rid }}/native/${{ matrix.library }}
          retention-days: 2
          if-no-files-found: error

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [build]
    if: inputs.publish
    env:
      BUILD_CONFIG: release
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: src/Nethermind.Crypto.SecP256r1/runtimes
      - name: Move artifacts
        working-directory: src/Nethermind.Crypto.SecP256r1/runtimes
        run: |
          mv -f linux-arm64/libsecp256r1.so linux-arm64/native/libsecp256r1.so
          mv -f linux-x64/libsecp256r1.so linux-x64/native/libsecp256r1.so
          mv -f osx-arm64/libsecp256r1.dylib osx-arm64/native/libsecp256r1.dylib
          mv -f osx-x64/libsecp256r1.dylib osx-x64/native/libsecp256r1.dylib
          mv -f win-x64/secp256r1.dll win-x64/native/secp256r1.dll
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
      - name: Install dependencies
        working-directory: src
        run: dotnet restore
      - name: Build
        working-directory: src/Nethermind.Crypto.SecP256r1
        run: dotnet build -c ${{ env.BUILD_CONFIG }} --no-restore -p:Commit=$GITHUB_SHA
      - name: Test
        working-directory: src/Nethermind.Crypto.SecP256r1.Tests
        run: dotnet run -c ${{ env.BUILD_CONFIG }} --no-restore
      - name: Publish
        working-directory: src/Nethermind.Crypto.SecP256r1
        run: |
          dotnet pack -c ${{ env.BUILD_CONFIG }} --no-build
          dotnet nuget push bin/${{ env.BUILD_CONFIG }}/*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
